{% extends "Fairboard/base.html" %}
{% block title %}Fairboard{% endblock %}
{% block pageCss %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Producten</li>
    </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>&nbsp;Producten
    </div>
    <div class="card-body">
        <a id="addButton" role="button" class="btn btn-success mb-4" href="/product/add">Toevoegen</a>
        <!--<a id="editButton" role="button" class="btn btn-warning mb-4" href="/product/edit">Bewerken</a>-->
        <a id="deleteButton" role="button" class="btn btn-danger mb-4" data-name="{{product.name}}"
           data-stock="{{product.stock}}" data-id="{{product.id}}" href="#">Verwijderen</a>
        <div class="table-responsive">
            <table id="dataTable" class="display" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Inkoop prijs</th>
                    <th scope="col">Verkoop prijs</th>
                    <th scope="col">Verhuur prijs</th>
                    <th scope="col">Korting</th>
                    <th scope="col">Voorraad</th>
                    <th scope="col">Gewijzigd</th>
                    <th scope="col">Aangemaakt</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr id="product_{{product.id}}">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.purchPrice }}</td>
                    <td>{{ product.salesPrice }}</td>
                    <td>{{ product.rentalPrice }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.modified }}</td>
                    <td>{{ product.created }}</td>
                    <!--<td>-->
                    <!--<a href="/item/index?Product_id={{ product.id }}">-->
                    <!--<span class="fa-stack" style="font-size:0.6em;">-->
                    <!--<span class="far fa-square fa-stack-2x"></span>-->
                    <!--<strong class="fa-stack-1x">{{ product.stock }}</strong>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</td>-->
                    <!--<td><a href="/product/edit?Id={{ product.id }}"><i class="fas fa-edit"></i></a></td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Verwijderen</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Weet je zeker dat je dit product wilt verwijderen?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleren</button>
                <a class="btn btn-danger" id="deleteButtonModal">Verwijderen</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pageScript %}
<!-- Custom scripts for this page-->
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/vendor/bootbox/bootbox.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable();

        updateButtonStatus(table);

        $('#dataTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            updateButtonStatus(table);
        });

        $('#editButton').click(function () {

        });
        $('#deleteButton').click(function () {
            if (table.row('.selected').any()) {
                var selectedRow = table.row('.selected');
                var index = selectedRow.index();
                var id = selectedRow.id().replace('product_','');
                var name = table.cell(index, 1).data();
                var stock = table.cell(index, 6).data();
                deleteProduct('/product/delete', id, stock, name, table );
            }
        });
    });

    function updateButtonStatus(table) {
        if (table) {
            if (table.row('.selected').any()) {
                $('#editButton').removeClass('disabled')
                $('#deleteButton').removeClass('disabled')
            }
            else {
                $('#editButton').addClass('disabled')
                $('#deleteButton').addClass('disabled')
            }
        }
    }

    function deleteProduct(url, id, stock, name, table) {
        if (stock != 0) {
            bootbox.alert("Kan product niet verwijderen omdat het nog voorraad heeft.");
        }
        else {
            bootbox.confirm({
                message: "Weet je zeker dat je product: <b>" + name + "</b> wilt verwijderen?",
                buttons: {
                    confirm: {
                        label: 'Verwijderen',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Annuleren',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post(url, {id: id})
                            .done(function (data) {
                                table.row('.selected').remove().draw(false);
                            })
                            .fail(function () {
                                bootbox.alert("Er is iets fout gegaan tijdens het verwijderen.");
                            });
                    }
                }
            });
        }
    }
</script>

{% endblock %}