<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="Dashboard van Fairsoft">
            <meta name="author" content="Justin Remijnse, Jeroen van der Hel, Thijs Beijer">
            <title>{% block title %}{% endblock %}</title>
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
            <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/dashboard.css" rel="stylesheet">
        </head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="\">Fairboard</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
</nav>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Log in</h1>
            </div>
            <form action="#" method="post" id="loginForm">
                <div class="form-group">
                    <label for="Username">Gebruikersnaam</label>
                    <input type="text" class="form-control" name="Username" id="Username" aria-describedby="usernameHelp" placeholder="Gebruikersnaam" required>
                </div>
                <div class="form-group">
                    <label for="Password">Wachtwoord</label>
                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Wachtwoord" required>
                </div>
                <div id="responseStatus"></div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </main>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
<script src="/js/fairboard.js"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>