{% extends "Fairsoft/base.html" %}
{% block title %}Fairsoft{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">FairPayPlan</li>
            </ol>
        </nav>
    </div>
    <div id="fairPayPlan" class="card-body row">
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>Wil je graag onze producten kopen, maar kun je het jezelf even niet veroorloven? Geen probleem! Je kunt bij ons ook in termijnen betalen.</p>
            <p>Neem <a href="/contact">contact</a> op voor meer informatie over onze betaalregelingen.</p>
        </article>
        <div class="content-img-container col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img class="content-img" src="img/fairPayPlan-pic.png" alt="Het FairPayPlan">
        </div>
    </div>
</div>
{% endblock %}
