{% extends "Fairsoft/base.html" %}
{% block title %}Fairsoft{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
            </ol>
        </nav>
    </div>
	<div id="sitemap" class="card-body row">
		<ul>
			<li><a href="/">Over ons</a></li>
			<li><a href="/howItWorks">Hoe het werkt</a></li>
			<li>Onze producten
				<ul>
					<li><a href="/fairVest/1">FairVest</a></li>
					<li><a href="/fairBox/2">FairBox</a></li>
					<li><a href="/fairGoggles/3">FairGoggles</a></li>
					<li><a href="/fairApp/6">FairApp</a></li>
				</ul>
			</li>
			<li>Onze diensten
				<ul>
					<li><a href="/fairData">FairData</a></li>
					<li><a href="/fairRent">FairRent</a></li>
					<li><a href="/fairPayplan">FairPayPlan</a></li>
				</ul>
			</li>
			<li><a href="/techSupport">Technische ondersteuning</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/faq">Veelgestelde vragen</a></li>
			<li><a href="/sitemap">Sitemap</a></li>
			<li><a href="/terms">Algemene voorwaarden</a></li>
			<li>Klantenservice
				<ul>
					<li><a href="/orderAndDelivery">Bestellen en leveren</a></li>
					<li><a href="/payments">Betaling</a></li>
					<li><a href="/fairRent">Verhuur</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


{% endblock %}
