{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Foutpagina</li>
    </ol>
</nav>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Fout!</h4>
    <p>Er is iets fout gegaan op de server. (500)</p>
    <hr>
    <a href="/" class="mb-0"><b>Weg hier</b></a>
</div>
{% endblock %}
