<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dashboard van Fairsoft">
    <meta name="author" content="Justin Remijnse, Jeroen van der Hel, Thijs Beijer">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fairsoft-stylesheet.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container-fluid">
    <div class="row" id="header">
        <header class="hidden-xs">
            <img src="img/logo-white.png" alt="Logos van Fairsoft" id="logo">
        </header>
        <!-- BEGIN OF MENU -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img id="navBarImg" src="img/logo-white.png" alt="Fairsoft">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/aboutUs">Over ons</a>
                        </li>
                        <li id="howItWorks">
                            <a href="/howItWorks">Hoe het werkt</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Onze producten
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/fairVest">FairVest</a>
                                </li>
                                <li>
                                    <a href="/fairBox">FairBox</a>
                                </li>
                                <li>
                                    <a href="/fairGoggles">FairGoggles</a>
                                </li>
                                <li>
                                    <a href="/fairApp" id="fairApp">FairApp</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Onze diensten<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/fairData">FairData</a>
                                </li>
                                <li>
                                    <a href="/fairRent">FairRent</a>
                                </li>
                                <li>
                                    <a href="/fairPayPlan">FairPayPlan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/techSupport">Technische ondersteuning</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END OF MENU -->
    </div>
    <main class="row" id="main">
        {% block body %}
        {% endblock %}
    </main>
    <div class="row" id="footer">

        <footer class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="footerCol1">
                <p>Fairsoft</p>
                <ul>
                    <li><a href="/faq">Veelgestelde vragen</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms">Algemene Voorwaarden</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="footerCol2">
                <p>Klantenservice</p>
                <ul>
                    <li><a href="/orderAndDelivery">Bestellen en leveren</a></li>
                    <li><a href="/payments">Betaling</a></li>
                    <li><a href="/fairRent/">Verhuur</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="footerCol3">
                <p>Contact Informatie</p>
                <ul>
                    <li>Hogeschoollaan 1, Breda</li>
                    <li>088-1234567</li>
                    <li><a href="mailto:jhel@avans.nl">info@fairsoft.nl</a></li>
                    <li>24/7 bereikbaar</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="footerCol4">
                <p>Social Media</p>
                <ul>
                    <li><img src="img/fb.png" alt="Facebook"></li>
                    <li><img src="img/twitter.png" alt="Twitter"></li>
                    <li><img src="img/pin.png" alt="Pinterest"></li>
                    <li><img src="img/yt.png" alt="Youtube"></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
